:root {
  /* CSS HEX */
  --bg-primary: #676295ff;
  --bg-note: #413c66ff;
  --note-red: #ee7979ff;
  --note-green: #70e06d;
  --note-yellow: rgb(230, 213, 85);
  --montserrat: 'Montserrat', sans-serif;
  --title-playpen: 'Playpen Sans', cursive;
}

body {
  background-color: var(--bg-primary);
  color: white;
  font-family: var(--montserrat);
  font-size: 16px;
  text-align: center;
  height: 100%;
}

/* HEADER */

.header__title {
  font-family: var(--title-playpen);
  font-size: 2.5em;
  margin: 0.5em 0;
}

.header__title-description {
  font-style: italic;
  transform: translateX(100%);
  animation: textAnimation 3s forwards;
}

@keyframes textAnimation {
  to {
    transform: translateX(0%);
  }
}

/* NOTES */

.main__container {
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}

.notes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2.5em;
  /* margin: 0 2em; */
}

.notes__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 2.5em; */
  gap: 1em;
  /* width: 75vw; */
}

.notes__list-item {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  background-color: var(--bg-note);
  text-align: justify;
  border-radius: 0.5em;
  cursor: pointer;
  width: 90%;
}

.high-priority {
  border-left: 5px solid var(--note-red);
}
.medium-priority {
  border-left: 5px solid var(--note-yellow);
}
.low-priority {
  border-left: 5px solid var(--note-green);
}
.blank-priority {
  border-left: 5px solid white;
}

/* .note__title .note__date .note__content */
.note__title {
  font-size: 1.5em;
  font-weight: 600;
}

.note__date {
  font-weight: 300;
}

.note__content {
  white-space: wrap; /* Evitar quebras de linha */
  overflow: hidden; /* Ocultar texto excedente */
  text-overflow: ellipsis; /* Adicionar elipse (...) quando o texto é cortado */
  max-height: 1em;
}

/* NOTE ADD BUTTON */

.notes__add-btn {
  background-color: var(--bg-note);
  padding: 0.75em;
  border-radius: 50%;
  border: 0px transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.notes__add-btn:hover {
  background-color: var(--note-green);
}

.add-icon {
  height: 1.5em;
  width: 1.5em;
  color: white;
}

/* FORM */
.form__container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  /* width: 90%; */
  /* margin-bottom: 1em; */
  /* background-color: var(--bg-note); */
  border-radius: 0.5em;
}

.title-input {
  border: none;
  padding: 0.5em;
  background-color: var(--bg-note);
  color: white;
  font-size: 1.25em;
  border-bottom: 1px solid white;
}

.title-input::placeholder {
  color: white;
  font-size: 1.25em;
  font-family: var(--montserrat);
  font-weight: 400;
}

#note-content {
  resize: none;
  border: 0px transparent;
  border-radius: 0.5em;
  font-size: 1em;
}

#note-content::placeholder {
  font-family: var(--montserrat);
  font-size: 0.9em;
}

.form__label {
  font-weight: 600;
  font-size: 1.5em;
  text-align: justify;
}

.form-priority {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  /* border: 1px solid white; */
}

.form-priority__btn {
  padding: 0.5em;
  flex-grow: 1;
  background-color: var(--bg-note);
  border: 0px transparent;
  font-size: 1em;
}

#low {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  color: var(--note-green);
}

#low:hover,
#low.form-priority__btn--selected {
  transition: 0.2s;
  background-color: var(--note-green);
  color: black;
}

#high {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  color: var(--note-red);
}

#high:hover,
#high.form-priority__btn--selected {
  transition: 0.2s;
  background-color: var(--note-red);
  color: black;
}

#medium:hover,
#medium.form-priority__btn--selected {
  transition: 0.2s;
  background-color: var(--note-yellow);
  color: black;
}

#medium {
  color: var(--note-yellow);
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.confirm__btn {
  border: 0px transparent;
  width: auto;
  /* padding: 0.4em; */
  align-self: center;
  /* border-radius: 50%; */
  background-color: var(--bg-primary);
  color: white;
}

.confirm__icon {
  border: 1px solid var(--bg-note);
  padding: 0.4em;
  border-radius: 50%;
}

.confirm__icon:hover {
  color: var(--note-green);
  background-color: var(--bg-note);
  transition: 0.2s;
}
