@import './abstracts/colors';
@import './abstracts/base';
@import './components/header';
@import './components/notes';
@import './components/form-modal';

@media only screen and (min-width: 765px) {
  .notes__list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .notes__list-item {
    width: 40%;
  }
  .modal__content {
    width: 60%;
  }
  .form__container {
    width: 60%;
  }
}
@media only screen and (min-width: 1400px) {
  .notes__list-item {
    width: 25%;
  }
  .modal__content {
    width: 30%;
  }
  .form__container {
    width: 30%;
  }
}
