@import './abstracts/colors';
@import './abstracts/base';
@import './components/header';
@import './components/notes';
@import './components/form-modal';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  // font-size: 100%;
  // font: inherit;
  vertical-align: baseline;
}

@media only screen and (min-width: 765px) {
  .notes__list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .notes__list-item {
    width: 40%;
  }
  .modal__content {
    width: 60%;
  }
  .form__container {
    width: 60%;
  }
}
@media only screen and (min-width: 1400px) {
  .notes__list-item {
    width: 25%;
  }
  .modal__content {
    width: 30%;
  }
  .form__container {
    width: 30%;
  }
}
